.productss{
    padding: 4rem 6rem;
}
.productss h1{
    color: #003fb2;
   
}
.inner-content{
     display: flex;
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 10px 29px 9px;
    
}


.productss .heading  {
    text-align: center;
    color: black;

}

.product-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    gap: 25px;
    padding: 1.5rem;
    /* box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px; */

}
.pod{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media(max-width:1000px){
    .inner-content{
        flex-direction: column;
        width: 100%;
    }
    .inner-content img{
        width: 100%;
    }
    .inner-content  .inner-img {
       padding:  0.8rem 10%;
    }


    
   
}
@media(max-width:600px){
    .productss{
        padding: 2rem;
    }
    .inner-content  .inner-img {
        padding:  0;
     }
}
@media(max-width:400px){
    .productss{
        padding: 1.5rem;
    }
}

