.abt{
    padding: 4rem 6rem ;
    background-color:#f5f9fd;
}
.abt h2,.abt h1{
    text-align: center;
    margin: 1rem auto;
}
.abt h1{
    color: #003fb2;
}
.about_images{
    width: 100%;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.about_images img{
    width: 100%;
    border-radius: 10px;
}

/* .explore:hover{
    
    box-shadow: rgba(107, 107, 132, 0.25) 0px 30px 60px -12px, rgba(94, 82, 82, 0.3) 0px 18px 36px -18px;
    transition: 0.5s;
    color: #000;
} */
.explore{
   margin: 1rem auto;
    padding: 1.5rem;
    transition: 0.5s;
    border-radius: 5px;
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.explore p{
    text-align: justify;
}
.floating {
    display: block;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* margin-left: 30px;
    margin-top: 5px; */
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 5px);
    }

    100% {
        transform: translate(0, -0px);
    }
}
@media(max-width:1024px){
    .abt{
        padding: 2rem 4rem;
    }
    .about_images img{
        width: 200px;
        border-radius: 10px;
    }
    .explore{

        width: 100%;
        padding: 1.5rem;
        flex-direction: row;
    }
}
@media(max-width:768px){
    .abt{
        padding: 2rem;
    }
    .about_images{
        flex-direction: column;
        gap: 20px;
    }
}
@media(max-width:600px){
    .abt{
        padding: 2rem;
    }
    .about_images{
        flex-direction: column;
    }
    .explore{
        flex-direction: column;
        align-items: flex-start;
    }
}