@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.footer{
    display: flex;
    background-color: #003fb2;
    color: #ffffff;
    padding: 3rem 6rem;
    justify-content: space-between;
    
    
}
.copyright{
    /* background-color: #131314; */
    background-color: #003fb2;
    color: #ffffff;
    padding: 1rem 6rem;
    letter-spacing: 0.05rem;
    /* color: #b2b8b8; */
}
.cont a{
    margin:10px 5px;
}

.cont button:hover{
cursor: pointer;
}
.cont button{
 padding: 8px;
 font-size: 1.2rem;
 font-weight: bold;
 background-color: #fff;
 border-radius: 5px;
 margin: 1rem auto; 
 border: 3px solid black;
 outline: none;

}
.cont2 h5{
    color: #fff;
    font-size: 14px;
    margin: 20px 1px;
}
.flex{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    font-family: outfit;
    gap: 5px;
}
.cont3{
    margin-top: 1rem;
}
.cont .cont3 h3{
 margin: 10px;
}
.cont2 p{
    font-size: 1rem;
    color: #fff;
    margin: 10px auto;
}
@media(max-width:1000px ){
    .footer{
        padding:  3rem;
        flex-direction: column;
    }
        .copyright{
            padding:1rem 3rem;
        }
        .cont1 img{
            width: 70%;
        }
    .cont{
        margin:1px;
    }
    .cont h1{
        font-size: 1.5rem;
        margin: 1rem auto;
    }
    .cont h4{
        font-size: 0.8rem;
        
        margin-bottom: 10px;
    }
}
@media(max-width:600px){
    .footer,.copyright {
            padding: 1.5rem;
    }
    .cont1 img{
        width: 90%;
    }
}

