.intro{
    padding:6rem 7rem;
    display: flex;
    gap: 30px;
    flex-direction: row;
    background-repeat: no-repeat;
    background-position: cover;
    height: 100vh;
}
.icontent{
    padding: 2rem;
    backdrop-filter: blur(5px);
}
.icontent h2,.icontent p{
    text-align: justify;
}
.icontent p{
    margin: 1rem auto;
}
.icontent .btns a{
    text-decoration: none;
    padding:5px 10px;
    font-size: 1rem;
    outline: none;
    font-weight: 700;
    border-radius: 10px;
    border: 3px solid transparent;
    background-color: black;
    margin: 10px 10px 10px 1px;
}
.icontent .btns .product_btn{
    background-color: #003fb2;
    color: #fff;
}
/* .btns button a:hover{
    border-color: #fff;
    color: #fff;
    
} */
.btns{
    margin-top: 20px;
}
.btns button a{
    color: #fff;
    text-decoration: none;
}
.contact_btn  a{
    cursor: pointer;
    color: #000;
    border-color: #000;
}
.btns button:hover {
    cursor: pointer;
    border-color: #000;
}

.iimg{
    width: 2000px;
    /* display: none; */
}
.iimg img{
    width: 100%;
    border-radius: 5px;
}
@media(max-width:1030px){
    .icontent{
        padding: 1rem;
    }
    .icontent p{
       display: none;
    }
    
}
@media(max-width:1000px){
    .intro{
        padding: 2rem 4rem;
    }
    .iimg{
        width: 100%;
    }
    .icontent p{
        display:block;
    }
}
@media(max-width:770px){
    .intro{
        padding: 2rem;
        background-image: none;
        /* justify-content: center;
        align-items: center; */
        flex-direction: column-reverse;
    }
    .icontent{
        padding: none;
        background-color:transparent;
        opacity: 1;
    }
    .iimg{
        display: flex;
    }
}
@media(max-width:470px) {

    .btns{
        display: flex;
        flex-wrap: wrap;
    }
}
@media(max-width:400px){
    .icontent h2,.icontent p{
        text-align: justify;
        font-size: 22px;
    }
    .intro{
        padding: 1.5rem ;
    }
}