.utube {
  padding: 0rem 2rem 2rem 2rem;
}

.utube h1,
.utube h6 {
  text-align: center;
}

.utube h1 {
  font-size: 2.5rem;
  color: #003fb2;

}

.utube h6 {
  font-size: 1.5rem;
  font-weight: 400;

}

.utube-slider {
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.utubeslide-track {
  display: flex;
  width: calc(150px * 22);
  animation: scroll 20s linear infinite;
}

.utube-slider .utubeslide-track .slide {
  height: 200px;
  width: 350px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.utubeslide-track:hover {
  animation-play-state: paused;
}

 
.utube-slider .utubeslide-track .slide {
  width: 100%;
  transition: 0.5s;
}

 
.utube-slider .utubeslide-track .slide :hover {
  transform: translateZ(5px);
}

@keyframes scroll {
  0% {
    transform: translatex(0);
  }

  100% {
    transform: translateX(calc(-100px * 22));
  }
}

@media(max-width:1000px) {

  .utube h1 {
    font-size: 2rem;
  }
}

@media(max-width:600px) {
  .utube h6 {
    font-size: 1rem;
  }

  .utube h1 {
    font-size: 1.5rem;
  }


   
.utube-slider .utubeslide-track .slide {
    height: 200px;
    width: 350px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
  }
}
@media(max-width:450px) {
  .utube h6 {
    font-size: 1rem;
  }
  .utube {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
  }

  .utube h1 {
    font-size: 1.5rem;
  }

  .utube-slider {
    height: 250px;
  }

  
.utube-slider .utubeslide-track .slide {
    height: 250px;
    width: 350px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
  }
}